* {
  box-sizing: border-box;
}

body {
  background-color: #f5f6ff;
}

.container {
  padding: 10px;
  /* background-color: rgb(232, 29, 29); */
  max-width: fit-content;
  margin: 50px auto;
  border-radius: 8px;
}

.btn {
  border: none;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.btn_add {
  background-color: rgb(49, 49, 85);
  color: white;
  text-align: center;
  width: 200px;
  
}

.add_btn{
  box-shadow: 10px 10px 10px 12px rgba(220, 139, 139, 0.2);
  height: 100px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h1{
color: black;
text-align: center;
}

.addContainer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addContainer form {
  width: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.addContainer form label {
  font-size: 18px;
}

.addContainer form input {
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-color: rgb(9, 13, 65);
  border-radius: 10px;
}

.addContainer form button {
  background-color: rgb(113, 142, 229);
  font-weight: 500;
  color: white;
  margin-top: 20px;
}

.btnSave:hover {
  background-color: rgb(135, 160, 236);
}

.addContainer form .close_btn {
  margin-left: auto;
  font-size: 18px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.tableContainer {
  margin-top: 25px;
  box-shadow: 5px 7px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.tableContainer table thead tr {
  background-color: #dfe1f0;
}

.tableContainer table thead tr th,
.tableContainer table tbody tr td {
  min-width: 200px;
  text-align: center;
}
.tableContainer table tbody tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.btn_edit, .btn_delete{
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 5px;
}

.btn_edit{
  color: rgb(58, 58, 216);
}

.btn_delete{
  color: rgb(224, 58, 58);
}

.noFound{
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
}